@import "../variables/_colors";
@import "../variables/_aminations";

.Header__Container {
  height: auto;
  background: linear-gradient(110deg, $white 60%, $yellow 60%);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  @media (max-width: 768px) {
  background: linear-gradient(105deg, $white 60%, $yellow 60%);
    height: auto;
  }
}

.HeroSection__Section {
  width: 100%;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  align-items: center;

  .HeroSection__Column {
    width: 100%;

    .HeroSection__Image {
      animation: myAnimFromRight 1s ease 0s 1 normal forwards;
    }

    .HeroSection__Column__Text {
      line-height: 1.5;

      h1 {
        color: $black;
        font-size: 3rem;
        font-family: "Varela Round", sans-serif;
        font-weight: bold;
        letter-spacing: 0.2px;
        animation: myAnimSlideTop 1s ease 0s 1 normal forwards;

        span {
          position: relative;
          outline: 2px solid red;
          border-radius: 30% 70% 44% 56% / 50% 17% 83% 50%;
        }

        @media (max-width: 768px) {
          font-size: 40px;
        }

        @media (max-width: 358px) {
          font-size: 28px;
        }
      }

      p {
        color: $black;
        font-size: 14px;
        margin: 2em 0;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        font-weight: 400;
      }

      .HeroSection__Button__Layout {
        display: flex;
        gap: 1.2em;
        align-items: center;
        margin: 1em 0;

        .demo__btn {
          background-color: #e5e2db;
          border: 2px solid #e5e2db;
          font-weight: 600;
          color: black;

          &:hover {
            color: black;
            background-color: #e5e2db;
          }
        }

        button {
          background-color: $black;
          text-align: center;
          text-transform: uppercase;
          user-select: none;
          vertical-align: middle;
          white-space: nowrap;
          animation: myAnimEntrance 1s ease 0s 1 normal forwards;
          border: 2px solid $black;
          color: $deep-black;
          font-size: 12px;
          font-weight: 500;
          padding: 12px 20px;
          text-decoration: none;
          transition: all 0.3s ease-in-out;
          letter-spacing: 1px;
          cursor: pointer;
          outline: none;
          border-radius: 5px;
          color: $white;
          line-height: 1.5;

          &:hover {
            color: black;
            background-color: transparent;
          }
        }

        @media (max-width: 768px) {
          flex-wrap: wrap;

          button {
            flex: 1;
          }
        }
      }

      .cap_icon {
        margin-top: 2em;
        display: grid;
        grid-template-columns: repeat(auto-fit, 50px);
        align-items: center;
        font-size: 20px;

        @media (max-width: 768px) {
          grid-template-columns: repeat(5, 1fr);
        }
      }
    }
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    padding: 20px 0;
  }
}
